.mobidata-link-top-navbar {
    color: #102656 !important; 
    font-weight: 500 !important;
    font-size: large !important;
}

#wrapper {
    /* padding-top: 120px; */
    background-color:#FFF9EF;
}

.grafico {
    padding-top: 8px;
    padding-bottom: 8px;
}