body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-mobidata {
    background-color: #003366;
    padding: 10px 20px;
}

nav h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

.container {
    padding: 20px;
}

.grafico {
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.selecionar-ano {
    color: white;
}

select {
    font-size: 16px;
    padding: 6px;
}

.leaflet-container {
	height: 400px;
	width: 600px;
	max-width: 100%;
	max-height: 100%;
}

.nav-link-deactivated {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin-bottom: 0;
}

.texto-grande-bicis {
    font-size: xx-large;
    font-weight: bolder;
}

.texto-pequeno-bicis {
    font-size: smaller;
}