{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        {% include 'toolbar.html' %}
        <div class="row">
            {% if grafico_indicadores_financeiros_stco %}
                <div class="grafico">
                    <form method="get">
                        <label>Filtrar por Ano:</label>
                        <select name="ano_selecionado_indicador_financeiro" onchange="this.form.submit()">
                            <option value="">--</option>
                            {% for ano in lista_anos_indicador_financeiro %}
                                <option value="{{ ano }}" {% if ano_selecionado_indicador_financeiro == ano|stringformat:"s" %}selected{% endif %}>{{ ano }}</option>
                            {% endfor %}
                        </select>

                        <label>Filtrar por Concessionária:</label>
                        <select name="concessionaria_selecionada_indicador_financeiro" onchange="this.form.submit()">
                            <option value="">--</option>
                            {% for c in lista_concessionarias_indicador_financeiro %}
                                <option value="{{ c }}" {% if concessionaria_selecionada_indicador_financeiro == c %}selected{% endif %}>{{ c }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    {{ grafico_indicadores_financeiros_stco|safe }}
                    <div>
                        <a href="{% url 'exportar_csv' 'ae_indicadores_financeiros_stco' %}" class="btn btn-outline-success btn-sm">
                            <i class="fas fa-download"></i> Exportar Dados (CSV)
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Indicadores Financeiros do STCO.
                </div>
            {% endif %}
        </div>
        <br><br>
        <div class="row">
            {% if grafico_passageiros %}
                <div class="grafico">
                    {{ grafico_passageiros|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Dados Operacionais do STCO - Passageiros.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_quilometragem %}
                <div class="grafico">
                    {{ grafico_quilometragem|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Dados Operacionais do STCO - Quilometragem.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_salario_passagens %}
                <div class="grafico">
                    {{ grafico_salario_passagens|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Salário mínimo por quantidade de passagens compráveis com um Salário Mínimo.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_custo_operacional %}
                <div class="grafico">
                    {{ grafico_custo_operacional|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Custo operacional do STCO por quilômetro rodado (em reais).
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_tarifa_percentual %}
                <div class="grafico">
                    {{ grafico_tarifa_percentual|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Tarifa como Percentual do Salário Mínimo.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}