{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'img/logo-mobidata-sm.png' %}" type="image/png">

    <title>MOBIDATA 2.0</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top"
        style="background-color: #E6D4B9; box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);">
        <div class="container-fluid" style="padding-right: 6%; padding-left: 6%;">
            <a class="navbar-brand" href="{% url 'landing' %}">
                <img height="80px" class="d-inline-block align-top" src="{% static 'img/logo-mobidata-lg.png' %}">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Frota de Ônibus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <p>STCO</p>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <p>STEC</p>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> -->
                    <li class="nav-item">
                        <a class="mobidata-link-top-navbar nav-link" href="{% url 'frota_de_onibus_stco' %}">Frota de
                            Ônibus</a>
                    </li>
                    <li class="nav-item">
                        <a class="mobidata-link-top-navbar nav-link" href="{% url 'dados_operativos' %}">Dados
                            Operativos</a>
                    </li>
                    <li class="nav-item">
                        <a class="mobidata-link-top-navbar nav-link" href="{% url 'dados_financeiros' %}">Dados
                            Financeiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="mobidata-link-top-navbar nav-link" href="{% url 'dados_metro' %}">Metrô</a>
                    </li>
                    <li class="nav-item">
                        <a class="mobidata-link-top-navbar nav-link" href="{% url 'dados_taxis' %}">Táxis</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <img style="mask-image: linear-gradient(#000, rgba(0,0,0,0)); width: 100%; height: 500px; object-fit: cover;"
            src="{% static 'img/img_onibus_1.png' %}" alt="Várias fotos de ônibus de Salvador">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-2 border-top">
        <div class="col-md-4 d-flex align-items-center" style="padding-left: 30px;">
            <img style="height: 30px; margin: 5px;" src="{% static 'img/Bandeira_da_Bahia.png' %}">
            <img style="height: 30px; margin: 5px;" src="{% static 'img/Flag_of_Brazil.png' %}">
            <span class="mb-3 mb-md-0 text-body-secondary">Mobidata 2.0 2025</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <img style="height: 50px; padding-right: 30px;"
                    src="{% static 'img/MARCA_IFBA_HORIZONTAL_completa_CMYK_IFBA.png' %}">
            </li>
        </ul>
    </footer>
</body>