{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% include 'toolbar.html' %}

    <div class="container">
        <div class="row">
            {% if grafico_historico_corredores %}
                <div class="grafico">
                    {{ grafico_historico_corredores|safe }}
                    <form method="get" id="anoHistCorredoresForm">
                        <label for="ano_historico_corredores">Selecione o Ano:</label>
                        <select name="ano_historico_corredores" id="ano_historico_corredores" onchange="document.getElementById('anoHistCorredoresForm').submit()">
                            {% for ano_historico_corredores in anos_disponiveis_historico_corredores %}
                                <option value="{{ ano_historico_corredores }}" {% if ano_historico_corredores == ano_selecionado_historico_corredores %}selected{% endif %}>{{ ano_historico_corredores }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de TODO.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_hist_pax_transp %}
                <div class="grafico">
                    {{ grafico_hist_pax_transp|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Histórico de Passageiros Transportados.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_kmt_perc_transp %}
                <div class="grafico">
                    {{ grafico_kmt_perc_transp|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Histórico de Quilometragem Percorrida.
                </div>
            {% endif %}
        </div>
        <p>Observações: (1) Valores arredondados    (2) BRT incluido a partir de Setembro/2022</p>
    </div>
</main>
{% endblock %}