{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            {% if grafico_frota_taxis %}
                <div class="grafico">
                    {{ grafico_frota_taxis|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Frota de Táxis.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_taxis_combustivel %}
                <div class="grafico">
                    {{ grafico_taxis_combustivel|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Táxis por Combustível.
                </div>
            {% endif %}
        </div>
        {% if not selecionar_ano_ativado %}
            <div class="row">
                {% if grafico_idade_media_frota_taxis %}
                    <div class="grafico">
                        {{ grafico_idade_media_frota_taxis|safe }}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Nenhum dado disponível de Idade Média da Frota de Táxis.
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="row">
            {% if grafico_taxis_por_marca %}
                <div class="grafico">
                    {{ grafico_taxis_por_marca|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Táxis por Modelo.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}