{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        {% include 'toolbar.html' %}
        <div class="row">
            {% if grafico_ano %}
                {{ grafico_ano|safe }}
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Total Anual de Passageiros Transportados.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_dados_metro_ano_mes %}
                {{ grafico_dados_metro_ano_mes|safe }}
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Total Mensal de Passageiros Transportados.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
