{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% include 'toolbar.html' %}

    <div class="container">
        <div class="row">
            {% if grafico_ano %}
                {{ grafico_ano|safe }}
            {% else %}
                <p>Dados anuais não disponíveis.</p>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_mes %}
                {{ grafico_mes|safe }}
            {% else %}
                <p>Dados mensais não disponíveis.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
