{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% include 'toolbar.html' %}
    
    <div class="container">
        <div class="row">
            {% if grafico_indicadores_financeiros_stco %}
                <div class="grafico">
                    {{ grafico_indicadores_financeiros_stco|safe }}
                    <form method="get">
                        <label>Filtrar por Ano:</label>
                        <select name="ano_selecionado_indicador_financeiro" onchange="this.form.submit()">
                            <option value="">--</option>
                            {% for ano in lista_anos_indicador_financeiro %}
                                <option value="{{ ano }}" {% if ano_selecionado_indicador_financeiro == ano|stringformat:"s" %}selected{% endif %}>{{ ano }}</option>
                            {% endfor %}
                        </select>

                        <label>Filtrar por Concessionária:</label>
                        <select name="concessionaria_selecionada_indicador_financeiro" onchange="this.form.submit()">
                            <option value="">--</option>
                            {% for c in lista_concessionarias_indicador_financeiro %}
                                <option value="{{ c }}" {% if concessionaria_selecionada_indicador_financeiro == c %}selected{% endif %}>{{ c }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Indicadores Financeiros do STCO.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_passageiros %}
                <div class="grafico">
                    {{ grafico_passageiros|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Dados Operacionais do STCO - Passageiros.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_quilometragem %}
                <div class="grafico">
                    {{ grafico_quilometragem|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Dados Operacionais do STCO - Quilometragem.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_analise_comparativa_stco %}
                <div class="grafico">
                    {{ grafico_analise_comparativa_stco|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Análise Comparativa do STCO.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}