{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        {% include 'toolbar.html' %}
        <div class="row">
            {% if grafico_corredores_comparativo %}
                <div class="grafico">
                    {{ grafico_corredores_comparativo|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Comparativo de Corredores de Ônibus.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_hist_pax_transp %}
                <div class="grafico">
                    {{ grafico_hist_pax_transp|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Histórico de Passageiros Transportados.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_kmt_perc_transp %}
                <div class="grafico">
                    {{ grafico_kmt_perc_transp|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Histórico de Quilometragem Percorrida.
                </div>
            {% endif %}
        </div>
        <p>Observações: (1) Valores arredondados    (2) BRT incluido a partir de Setembro/2022</p>
    </div>
</main>
{% endblock %}