{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        {% include 'toolbar.html' %}
        <div class="row">
            {% if grafico_corredores_comparativo %}
                <div class="grafico">
                    {{ grafico_corredores_comparativo|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'dop_corredores' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Comparativo de Corredores de Ônibus.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_hist_pax_transp %}
                <div class="grafico">
                    {{ grafico_hist_pax_transp|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'dop_passageiros' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Histórico de Passageiros Transportados.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_kmt_perc_transp %}
                <div class="grafico">
                    {{ grafico_kmt_perc_transp|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'dop_quilometragem' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Histórico de Quilometragem Percorrida.
                </div>
            {% endif %}
        </div>
        <p style="padding-top: 8px; padding-bottom: 8px;">Observações: (1) Valores arredondados    (2) BRT incluido a partir de Setembro/2022</p>
        <div class="row">
            {% if grafico_demanda_pagamento %}
                <div class="grafico">
                    {{ grafico_demanda_pagamento|safe }}
                    <p style="font-size: x-small; margin-bottom: 0;">OBS.: Gratuidade controlada por cartão</p>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Demanda de Passageiros por Tipo de Pagamento.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_demanda_integracao %}
                <div class="grafico">
                    {{ grafico_demanda_integracao|safe }}
                    <!-- <p style="font-size: x-small; margin-bottom: 0;">Teste teste teste teste teste</p> -->
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Demanda Total e Integrações por Mês.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}