{% extends 'base.html' %}

{% block content %}
<main>  
    <div class="container">
        {% include 'toolbar.html' %}
        <div class="row">
            {% if grafico_historico %}
                <div class="grafico">
                    {{ grafico_historico|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_idade_media_frota' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Idade Média da Frota.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_veiculos_novos_ano %}
                <div class="grafico">
                    {{ grafico_veiculos_novos_ano|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de [...].
                </div>
            {% endif %}
        </div> 
        <div class="row">
            {% if grafico_aquisicoes_novos %}
                <div class="grafico">
                    {{ grafico_aquisicoes_novos|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Aquisições por Mês (Novos).
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_aquisicoes_usados %}
                <div class="grafico">
                    {{ grafico_aquisicoes_usados|safe }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Aquisições por Mês (Usados).
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_frota_operante %}
                <div class="grafico">
                    {{ grafico_frota_operante|safe }}
                    <p style="font-size: x-small; margin-bottom: 0;">OBS.: Frota média nos dias úteis.</p>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Frota Operante de Ônibus.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_frota_total %}
                <div class="grafico">
                    {{ grafico_frota_total|safe }}
                    <p style="font-size: x-small; margin-bottom: 0;">OBS.: Dados de 2021 não discriminam frota total por operadora.</p>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Frota Total de Ônibus.
                </div>
            {% endif %}
        </div>
        <!--TESTE TESTE TESTE-->
        <div class="row">
            {% if grafico_demanda_pagamento %}
                <div class="grafico">
                    {{ grafico_demanda_pagamento|safe }}
                    <p style="font-size: x-small; margin-bottom: 0;">Teste teste teste teste teste</p>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de TESTE.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_demanda_integracao %}
                <div class="grafico">
                    {{ grafico_demanda_integracao|safe }}
                    <p style="font-size: x-small; margin-bottom: 0;">Teste teste teste teste teste</p>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de TESTE.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}