<!DOCTYPE html>
<html>
<head>
    <title>Teste Plotly</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Idade Média da Frota</h1>

    <form method="get">
        <label for="ano">Selecione o ano:</label>
        <select name="ano" id="ano" onchange="this.form.submit()">
            {% for ano in anos %}
                <option value="{{ ano }}" {% if ano == ano_selecionado %}selected{% endif %}>{{ ano }}</option>
            {% endfor %}
        </select>
    </form>
    {{ grafico|safe }}
    <br><br>
    <a href="{% url 'exportar_csv' %}?ano={{ ano_selecionado }}">Exportar CSV deste ano</a>
</body>
</html>