<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1>{{ titulo_da_pagina }}</h1>


    <div class="btn-toolbar mb-2 mb-md-0">
        {% if exportar_sql_csv_ativado %}
            <div class="btn-group me-2"> 
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    Exportar SQL
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="TODO">
                    Exportar CSV
                </button> 
            </div>
        {% endif %}
    </div>
</div>