{% extends 'base.html' %}

{% block content %}
<main>  
    <div class="container">
        {% include 'toolbar.html' %}
        <div class="row">
            {% if grafico_demanda_pax_stec %}
                <div class="grafico">
                    {{ grafico_demanda_pax_stec|safe }}
                </div>
                <p style="font-size: small; margin-bottom: 0;">
                    OBS.: PASSAGEIROS EQUIVALENTES – Somatório dos passageiros transportados com a ponderação correspondente às tarifas dos diferentes serviços, descontos ou à isenção de pagamento, em relação à tarifa predominante.<br>
                </p>
                <div>
                    <a href="{% url 'exportar_csv' 'dopstec_demanda_pax_stec' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Demanda de Passageiros do STEC.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}