{% extends 'base.html' %}

{% block content %}
<main>  
    <div class="container">
        {% include 'toolbar.html' %}
        <!-- <div class="row">
            {% if grafico_historico %}
                <div class="grafico">
                    {{ grafico_historico|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_idade_media_frota' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Idade Média da Frota.
                </div>
            {% endif %}
        </div> -->
    </div>
</main>
{% endblock %}