{% extends 'base.html' %}

{% block content %}
<main>  
    <div class="container">
        <div class="row">
            {% if grafico_historico %}
                <div class="grafico">
                    {{ grafico_historico|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_idade_media_frota' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Idade Média da Frota.
                </div>
            {% endif %}
        </div>
        <!-- <div class="row">
            {% if grafico_veiculos_novos_ano %}
                <div class="grafico">
                    {{ grafico_veiculos_novos_ano|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_veiculos_novos_por_ano' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Veículos Novos Adquiridos por Ano.
                </div>
            {% endif %}
        </div>  -->
        <!-- <div class="row">
            {% if grafico_aquisicoes_novos %}
                <div class="grafico">
                    {{ grafico_aquisicoes_novos|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_aquisicoes_onibus_por_mes' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Aquisições por Mês (Novos).
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_aquisicoes_usados %}
                <div class="grafico">
                    {{ grafico_aquisicoes_usados|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_aquisicoes_onibus_por_mes' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Aquisições por Mês (Usados).
                </div>
            {% endif %}
        </div> -->
        <div class="row">
            {% if grafico_comparativo_frota %}
                <div class="grafico">
                    {{ grafico_comparativo_frota|safe }}
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_comparativo_frota_stco' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Frota Operante de Ônibus.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_frota_operante %}
                <div class="grafico">
                    {{ grafico_frota_operante|safe }}
                    <p style="font-size: small; margin-bottom: 0;">
                        OBS.: Frota média nos dias úteis.
                    </p>
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_frota_operante' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Frota Operante de Ônibus.
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if grafico_frota_total %}
                <div class="grafico">
                    {{ grafico_frota_total|safe }}
                    <p style="font-size: small; margin-bottom: 0;">
                        OBS.: Dados de 2021 não discriminam frota total por operadora.
                    </p>
                </div>
                <div>
                    <a href="{% url 'exportar_csv' 'fdo_stco_frota_total' %}" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-download"></i> Exportar Dados (CSV)
                    </a>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Nenhum dado disponível de Frota Total de Ônibus.
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}